#dataTable{
	border-spacing:0;
}
#dataTable tr.dark{
	background-color:#AAAAAA;
	color:#000000;
}
#dataTable tr.light{
	background-color:#EEEEEE;
	color:#000000;
}
#dataTable td{
	text-align:center;
	height:50px;
}
#dataTable td.info{
	text-align:left;
	padding-left:10px;
}